@mixin drop($fromPositionY, $toPositionY) {
    from {
        bottom: $fromPositionY;
    }

    to {
        bottom: $toPositionY;
    }
}

@mixin margin-horizontal($value) {
    margin-right: rem($value);
    margin-left: rem($value);
}

@mixin margin-vertical($value) {
    margin-top: rem($value);
    margin-bottom: rem($value);
}

@mixin padding-horizontal($value) {
    padding-right: rem($value);
    padding-left: rem($value);
}

@mixin padding-vertical($value) {
    padding-top: rem($value);
    padding-bottom: rem($value);
}
