// Colors
$white: #FFFFFF;
$red-ribbon: #F91155;
$blue-ribbon: #005BFF;
$midnight: #001A34;
$regent-gray: #808D9A;
$athens-gray: #F2F3F5;
$tango: #E7711B;
$alabaster: #F8F8F8;

$text-color: $midnight;
$text-color-secondary: $regent-gray;

$brand-color: $blue-ribbon;

//fonts
$font-family: "Roboto", sans-serif;

$font-size-base: 16px;
$font-size-big: 20px;
$font-size-large: 30px;
$font-size-small: 14px;
$font-size-extra-small: 12px;

$font-weight-normal: 400;
$font-weight-bold: 700;

// transition
$transition-duration: 200ms;
$transition-duration-long: 400ms;

// z-index
$z-index-header: 15;
$z-index-popup: 20;

// layout
$header-height: 70px;
$sidebar-width: 170px;
