@keyframes drop-down {
    @include drop(100vh, rem(-$popup-height));
}

@keyframes drop-down-reverse {
    @include drop(rem(-$popup-height), 100vh)
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}
