.cards {
    $vertical-gutter: 40px;
    $horizontal-gutter: 40px;

    &__list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-top: rem(-$vertical-gutter);
        margin-right: rem(-$horizontal-gutter / 2);
        margin-left: rem(-$horizontal-gutter / 2);
    }

    &__item {
        width: percentage(1 / 3);
        padding-top: rem($vertical-gutter);
        padding-right: rem($horizontal-gutter / 2);
        padding-left: rem($horizontal-gutter / 2);
    }
}
