.delivery-card {
    padding-top: rem(30px);
    padding-bottom: rem(32px);
    border-bottom: rem(2px) solid $athens-gray;

    &:last-child {
        padding-bottom: 0;
        border-bottom: none;
    }

    &__section {
        &--header {
            margin-bottom: rem(20px);
        }

        &--body {
            display: flex;
            align-items: flex-start;
        }
    }

    &__col {
        width: rem(350px);
        margin-right: rem(40px);

        &:last-child {
            margin-right: 0;
        }
    }

    &__title {
        font-size: rem($font-size-big);

        @include margin-vertical(0px);
    }
}
