.header {
    $padding-vertical: 18px;

    position: fixed;
    z-index: $z-index-header;
    top: 0;
    width: 100%;
    height: rem($header-height);
    padding-top: rem($padding-vertical);
    padding-bottom: rem($padding-vertical);
    background-color: $white;
    box-shadow: 0 rem(3px) rem(10px) rgba($midnight, .05);

    &__navigation {
        $hotizontal-gutter: 25px;

        &-list {
            display: flex;
            align-items: center;
            margin-right: rem(-$hotizontal-gutter / 2);
            margin-left: rem(-$hotizontal-gutter / 2);
        }

        &-item {
            padding-right: rem($hotizontal-gutter / 2);
            padding-left: rem($hotizontal-gutter / 2);
        }

        &-link {
            $font-size: $font-size-extra-small;

            font-size: rem($font-size);
            line-height: (16px / $font-size);
            font-weight: $font-weight-bold;
            text-transform: uppercase;
        }
    }
}
