.heading {
    display: flex;
    align-items: center;

    &__text {
        @include margin-vertical(0);

        &--title {
            $font-size: 30px;

            font-size: rem($font-size);
            font-weight: $font-weight-bold;
            line-height: (38px / $font-size);
            color: $text-color;
        }

        &--subtitle {
            font-size: rem($font-size-base);
            font-weight: $font-weight-normal;
            line-height: (20px / $font-size-base);
            color: $text-color-secondary;

            &:not(:first-child) {
                margin-left: rem(8px);
            }
        }
    }
}
