.link {
    transition: color $transition-duration;
    text-decoration-line: none;
    color: $text-color-secondary;

    &:hover {
        color: $text-color;
    }

    &--active {
        color: $text-color;
    }
}
