.product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: rem(5px);

    &__info {
        display: flex;
        align-items: center;

        &:not(:last-child) {
            margin-right: rem(5px);
        }
    }

    &__image {
        $size: 30px;

        width: rem($size);
        min-width: rem($size);
        height: rem($size);
        border-radius: rem(5px);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;

        &:not(:last-child) {
            margin-right: rem(15px);
        }
    }

    &__data {
        &-name {
            font-size: rem($font-size-small);
            color: $text-color;
        }

        &-price {
            font-size: rem($font-size-extra-small);
            color: $text-color-secondary;
        }
    }

    &__counter {
        display: flex;
        align-items: center;

        &-number {
            $horizontal-gutter: 5px;

            font-size: rem($font-size-small);

            @include margin-horizontal($horizontal-gutter);
        }
    }

    &__actions {
        $horizontal-gutter: 5px;

        &-list {
            display: flex;
            align-items: center;

            @include margin-horizontal(-$horizontal-gutter / 2);
        }

        &-item {
            @include padding-horizontal($horizontal-gutter / 2);
        }
    }

    &__action {
        font-size: rem($font-size-extra-small);
        padding: rem(5px)
    }
}
