.product-content {
    width: 100%;

    &__main {
        display: flex;
        width: 100%;

        &:not(:last-child) {
            margin-bottom: rem(40px);
        }
    }

    &__detail {
        display: flex;
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 75%;
        max-width: 75%;

        .image-gallery-thumbnail.active,
        .image-gallery-thumbnail:hover,
        .image-gallery-thumbnail:focus {
            border: rem(4px) solid $brand-color;
        }
    }

    &__order {
        display: flex;
        flex: 0 0 25%;
        flex-direction: column;
        max-width: 25%;

        &:not(:first-child) {
            margin-left: rem(24px);
        }

        &-price {
            margin-bottom: rem(15px);

            &-relevant {
                font-size: rem($font-size-large);
                font-weight: $font-weight-bold;
                margin-right: rem(10px);
                color: $red-ribbon;
            }

            &-old {
                font-size: rem($font-size-big);
                font-weight: $font-weight-bold;
                color: rgba($text-color-secondary, .6);
            }
        }

        &-button {
            @include padding-vertical(20px);
        }
    }

    &__description {
        @include margin-vertical(0);

        font-size: rem(18px);
        color: $text-color;
    }

    &__carousel {
        $max-height: 300px;

        display: flex;
        flex-basis: calc(60% - 24px);
        max-width: calc(60% - 24px);
        height: rem($max-height);

        .image-gallery-content .left .image-gallery-slide .image-gallery-image,
        .image-gallery-content .right .image-gallery-slide .image-gallery-image {
            height: rem($max-height);
        }

        .image-gallery-thumbnail {
            height: rem(100px);

            &-inner {
                height: rem(85px);
            }

            &-image {
                height: 100%;

                @include object-fit(contain);
            }
        }
    }

    &__info {
        flex: 1;
        margin-left: rem(24px);

        &-title {
            margin-top: 0;
            margin-bottom: rem(20px);
        }
    }

    &__line {
        $margin-top: 8px;

        margin-top: rem(-$margin-top);

        &:first-child {
            margin-top: rem(-$margin-top);
        }

        &-item {
            margin-top: rem($margin-top);
        }
    }
}
